<div class="wrap">
  <div class="headtext">
    <h1>Your Personal Diary</h1>
  </div>
  <div class="diaryblock">
    <div class="addfrom">
      <form #form="ngForm" autocomplete="off" (submit)="resetForm(this.form)">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputDayMark" class="sr-only">Password</label>
          <input type="text" name="dayMark" #dayMark="ngModel" [(ngModel)]="diary.dayMark" class="form-control daymarkinp" id="inputDayMark" placeholder="Add Header for your Day" required [class.green-dayM]="dayMark.valid" [class.red-dayM]="dayMark.invalid && dayMark.touched">
        </div>
        <div class="form-group">
          <textarea type="text" name="dayDescription" #dayDescription="ngModel" [(ngModel)]="diary.dayDescription" class="form-control diaryDescription" id="exampleFormControlTextarea1" rows="5" placeholder="Describe your Day" required [class.green-dayD]="dayDescription.valid" [class.red-dayD]="dayDescription.invalid && dayDescription.touched"></textarea>
          <button type="submit" class="btn btn-success sendBtn" (click)="checkId(diary)">Add</button>
        </div>
      </form>
    </div>
    <div class="diarynotes">
        <div class="note" *ngFor="let diary of service.diaryNotes">
            <p id="markMiddleText">
              <span id="leftDate">{{diary.date}}</span>{{diary.dayMark}}
              <span id="rightBtns">
                  <button class="btn btn-info delBtn" (click)="populateForm(diary)">Edit</button>
                <button class="btn btn-danger delBtn" (click)="deleteNote(diary)">Del</button>
              </span>
            </p>
            <hr />
            <p>{{diary.dayDescription}}</p>
        </div>
    </div>
  </div>
</div>