<div class="wrap">
  <div class="row">
    <div class="col-md-3">
        <img [src]="userProfileImage" alt="Your profile picture" class="userImage" *ngIf="!isImageLoading; else noImageFound">
        <ng-template #noImageFound>
          <div style="width: 300px; height: 300px; background-color: darkviolet;">
          </div>
        </ng-template>
        <hr>
        <h3 id="chngImg">Change your profile Image</h3>
        <div class="form-group">
            <input type="file" (change)="convertToFile($event)"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="updateUserImage()">Submit</button>
        </div>
    </div>
    <div class="col-md-5">
      <div class="userInfo" *ngIf="switchInfoToForm; else formTemplate">
        <h3>Login: <span id="log">{{this.user.login}}</span></h3>
        <h3>Name: <span id="log">{{this.user.userName}}</span></h3>
        <h3>Age: <span id="log">{{this.user.userAge}}</span></h3>
      </div>
      <ng-template #formTemplate>
        <div class="updateInfoForm">
          <form>
            <div class="form-group">
              <label>Login</label>
              <input type="text" class="form-control" name="login" #login="ngModel" [(ngModel)]="formUserValue.login" placeholder="Login" value="{{ this.formUserValue.login }}" required [class.green-dayM]="login.valid" [class.red-dayM]="login.invalid && login.touched">
            </div>
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" name="userName" #userName="ngModel" [(ngModel)]="formUserValue.userName" placeholder="Name" value="{{ this.formUserValue.userName }}" required [class.green-dayM]="userName.valid" [class.red-dayM]="userName.invalid && userName.touched">
            </div>
            <div class="form-group">
              <label>Age</label>
              <input type="text" class="form-control" name="userAge" #userAge="ngModel" [(ngModel)]="formUserValue.userAge" placeholder="Age" value="{{ this.formUserValue.userAge }}" required [class.green-dayM]="userAge.valid" [class.red-dayM]="userAge.invalid && userAge.touched">
            </div>
            <button class="btn btn-success" (click)="this.updateUserInfo(this.formUserValue)">Update</button>    
          </form>
        </div>
      </ng-template>
      <button class="btn btn-success changebtn" (click)="this.switchToForm()">Change information</button>
    </div>
  </div>
</div>