<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <h5 id="head">App On Containers</h5>
            </li>
            <li>
                <h5 id="userN">Welcome Back {{ user.userName }}</h5>
            </li>
            <li>
                <a routerLink="" >Home</a>
            </li>
            <li>
                <a routerLink="/diary">Diary</a>
            </li>
            <li>
                <a routerLink="/todo">ToDo List</a>
            </li>
            <button class="btn quitBtn" (click)="this.quitFromApp()">Quit</button>
        </ul>
    </div>
</div>